<header class="site-header">
  <div class="header-container">
    {{!-- <div class="header-left">
      {{#unless hideHome}}
      <a href="/home">
        <h3>Home</h3>
      </a>
      {{/unless}}
    </div> --}}

    <div class="header-left">
      <a href="/profile" class="{{#if hideHome}}invisible-placeholder{{/if}}">
        <img 
          class="profile-pic-header" 
          src="{{#if profilePic}}{{profilePic}}{{else}}/img/default_pp.png{{/if}}" 
          alt="Profile Picture"
        >
      </a>
    </div>

    <div class="header-center">
      <img src="/img/repquestlogo.png" alt="RepQuest Logo" class="header-logo">
    </div>

    <div class="header-streak">
      {{#if hideStreak}}
        <!-- Empty placeholder so layout spacing stays consistent -->
        <div class="streak-placeholder"></div>
      {{else}}
        <img 
          src="/img/streak_icon_transparent.png" 
          alt="Streak Icon" 
          class="streak-icon"
        >
        {{#if streak}}
          <span>Current streak: {{streak}} days</span>
        {{else}}
          <span>Current streak: 0 days</span>
        {{/if}}
      {{/if}}
    </div>
  </div>
</header>